.g-d-1, .g-d-2, .g-d-3, .g-d-4, .g-d-5, .g-d-6, .g-d-7, .g-d-8, .g-d-9, .g-d-10, .g-d-11, .g-d-12, .g-d-right1, .g-d-right2, .g-d-right3, .g-d-right4, .g-d-right5, .g-d-right6, .g-d-right7, .g-d-right8, .g-d-right9, .g-d-right10, .g-d-right11, .g-d-right12 {
  float: right;
}

.g-d-right1 {
  padding: 0 20px;
  float: left;
  width: 74px;
}

.g-d-right2 {
  padding: 0 20px;
  float: left;
  width: 168px;
}

.g-d-right3 {
  padding: 0 20px;
  float: left;
  width: 262px;
}

.g-d-right4 {
  padding: 0 20px;
  float: left;
  width: 356px;
}

.g-d-right5 {
  padding: 0 20px;
  float: left;
  width: 450px;
}

.g-d-right6 {
  padding: 0 20px;
  float: left;
  width: 544px;
}

.g-d-right7 {
  padding: 0 20px;
  float: left;
  width: 638px;
}

.g-d-right8 {
  padding: 0 20px;
  float: left;
  width: 732px;
}

.g-d-right9 {
  padding: 0 20px;
  float: left;
  width: 826px;
}

.g-d-right10 {
  padding: 0 20px;
  float: left;
  width: 920px;
}

.g-d-right11 {
  padding: 0 20px;
  float: left;
  width: 1014px;
}

.g-d-right12 {
  padding: 0 20px;
  float: left;
  width: 1108px;
}

.g-d-o1 {
  margin-right: 94px;
}

.g-d-o2 {
  margin-right: 188px;
}

.g-d-o3 {
  margin-right: 282px;
}

.g-d-o4 {
  margin-right: 376px;
}

.g-d-o5 {
  margin-right: 470px;
}

.g-d-o6 {
  margin-right: 564px;
}

.g-d-o7 {
  margin-right: 658px;
}

.g-d-o8 {
  margin-right: 752px;
}

.g-d-o9 {
  margin-right: 846px;
}

.g-d-o10 {
  margin-right: 940px;
}

.g-d-o11 {
  margin-right: 1034px;
}

.g-d-push1 {
  margin-right: 104px;
  margin-left: -84px;
}

.g-d-push2 {
  margin-right: 198px;
  margin-left: -178px;
}

.g-d-push3 {
  margin-right: 292px;
  margin-left: -272px;
}

.g-d-push4 {
  margin-right: 386px;
  margin-left: -366px;
}

.g-d-push5 {
  margin-right: 480px;
  margin-left: -460px;
}

.g-d-push6 {
  margin-right: 574px;
  margin-left: -554px;
}

.g-d-push7 {
  margin-right: 668px;
  margin-left: -648px;
}

.g-d-push8 {
  margin-right: 762px;
  margin-left: -742px;
}

.g-d-push9 {
  margin-right: 856px;
  margin-left: -836px;
}

.g-d-push10 {
  margin-right: 950px;
  margin-left: -930px;
}

.g-d-push11 {
  margin-right: 1044px;
  margin-left: -1024px;
}

.g-d-pull1 {
  margin-right: -84px;
}

.g-d-pull2 {
  margin-right: -178px;
}

.g-d-pull3 {
  margin-right: -272px;
}

.g-d-pull4 {
  margin-right: -366px;
}

.g-d-pull5 {
  margin-right: -460px;
}

.g-d-pull6 {
  margin-right: -554px;
}

.g-d-pull7 {
  margin-right: -648px;
}

.g-d-pull8 {
  margin-right: -742px;
}

.g-d-pull9 {
  margin-right: -836px;
}

.g-d-pull10 {
  margin-right: -930px;
}

.g-d-pull11 {
  margin-right: -1024px;
}
