/* Tablet Landscape */
@media only screen and (min-width: 980px) and (max-width: 1159px) {
  .limiter {
    margin-left: auto;
    margin-right: auto;
    width: 98.776%;
  }

  .g-tl-1, .g-tl-2, .g-tl-3, .g-tl-4, .g-tl-5, .g-tl-6, .g-tl-7, .g-tl-8, .g-tl-9, .g-tl-10, .g-tl-11, .g-tl-12, .g-tl-right1, .g-tl-right2, .g-tl-right3, .g-tl-right4, .g-tl-right5, .g-tl-right6, .g-tl-right7, .g-tl-right8, .g-tl-right9, .g-tl-right10, .g-tl-right11, .g-tl-right12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    display: inline;
    float: left;
    margin-left: 1.033%;
    margin-right: 1.033%;
  }

  .g-all-row {
    margin-left: 1.033%;
    margin-right: 1.033%;
  }
  .g-all-row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .ie6 .g-all-row {
    height: 1%;
  }
  .ie7 .g-all-row {
    min-height: 1%;
  }

  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 {
    margin-left: 10px;
  }

  .g-d-12,
  .g-d-f,
  .g-d-l,
  .g-d-b {
    clear: none;
  }

  .g-tl-1 {
    padding: 0 0px;
    width: 6.224%;
  }

  .g-tl-2 {
    padding: 0 0px;
    width: 14.557%;
  }

  .g-tl-3 {
    padding: 0 0px;
    width: 22.89%;
  }

  .g-tl-4 {
    padding: 0 0px;
    width: 31.224%;
  }

  .g-tl-5 {
    padding: 0 0px;
    width: 39.557%;
  }

  .g-tl-6 {
    padding: 0 0px;
    width: 47.89%;
  }

  .g-tl-7 {
    padding: 0 0px;
    width: 56.224%;
  }

  .g-tl-8 {
    padding: 0 0px;
    width: 64.557%;
  }

  .g-tl-9 {
    padding: 0 0px;
    width: 72.89%;
  }

  .g-tl-10 {
    padding: 0 0px;
    width: 81.224%;
  }

  .g-tl-11 {
    padding: 0 0px;
    width: 89.557%;
  }

  .g-tl-12 {
    padding: 0 0px;
    width: 97.89%;
  }

  .g-tl-right1 {
    padding: 0 0px;
    float: right;
    width: 6.224%;
  }

  .g-tl-right2 {
    padding: 0 0px;
    float: right;
    width: 14.557%;
  }

  .g-tl-right3 {
    padding: 0 0px;
    float: right;
    width: 22.89%;
  }

  .g-tl-right4 {
    padding: 0 0px;
    float: right;
    width: 31.224%;
  }

  .g-tl-right5 {
    padding: 0 0px;
    float: right;
    width: 39.557%;
  }

  .g-tl-right6 {
    padding: 0 0px;
    float: right;
    width: 47.89%;
  }

  .g-tl-right7 {
    padding: 0 0px;
    float: right;
    width: 56.224%;
  }

  .g-tl-right8 {
    padding: 0 0px;
    float: right;
    width: 64.557%;
  }

  .g-tl-right9 {
    padding: 0 0px;
    float: right;
    width: 72.89%;
  }

  .g-tl-right10 {
    padding: 0 0px;
    float: right;
    width: 81.224%;
  }

  .g-tl-right11 {
    padding: 0 0px;
    float: right;
    width: 89.557%;
  }

  .g-tl-right12 {
    padding: 0 0px;
    float: right;
    width: 97.89%;
  }

  .g-tl-o1 {
    margin-left: 8.333%;
    width: 100%;
  }

  .g-tl-o2 {
    margin-left: 16.667%;
    width: 100%;
  }

  .g-tl-o3 {
    margin-left: 25%;
    width: 100%;
  }

  .g-tl-o4 {
    margin-left: 33.333%;
    width: 100%;
  }

  .g-tl-o5 {
    margin-left: 41.667%;
    width: 100%;
  }

  .g-tl-o6 {
    margin-left: 50%;
    width: 100%;
  }

  .g-tl-o7 {
    margin-left: 58.333%;
    width: 100%;
  }

  .g-tl-o8 {
    margin-left: 66.667%;
    width: 100%;
  }

  .g-tl-o9 {
    margin-left: 75%;
    width: 100%;
  }

  .g-tl-o10 {
    margin-left: 83.333%;
    width: 100%;
  }

  .g-tl-o11 {
    margin-left: 91.667%;
    width: 100%;
  }

  .g-tl-push1 {
    margin-left: 9.388%;
    margin-right: -7.278%;
  }

  .g-tl-push2 {
    margin-left: 17.722%;
    margin-right: -15.612%;
  }

  .g-tl-push3 {
    margin-left: 26.055%;
    margin-right: -23.945%;
  }

  .g-tl-push4 {
    margin-left: 34.388%;
    margin-right: -32.278%;
  }

  .g-tl-push5 {
    margin-left: 42.722%;
    margin-right: -40.612%;
  }

  .g-tl-push6 {
    margin-left: 51.055%;
    margin-right: -48.945%;
  }

  .g-tl-push7 {
    margin-left: 59.388%;
    margin-right: -57.278%;
  }

  .g-tl-push8 {
    margin-left: 67.722%;
    margin-right: -65.612%;
  }

  .g-tl-push9 {
    margin-left: 76.055%;
    margin-right: -73.945%;
  }

  .g-tl-push10 {
    margin-left: 84.388%;
    margin-right: -82.278%;
  }

  .g-tl-push11 {
    margin-left: 92.722%;
    margin-right: -90.612%;
  }

  .g-tl-pull1 {
    margin-left: -7.278%;
  }

  .g-tl-pull2 {
    margin-left: -15.612%;
  }

  .g-tl-pull3 {
    margin-left: -23.945%;
  }

  .g-tl-pull4 {
    margin-left: -32.278%;
  }

  .g-tl-pull5 {
    margin-left: -40.612%;
  }

  .g-tl-pull6 {
    margin-left: -48.945%;
  }

  .g-tl-pull7 {
    margin-left: -57.278%;
  }

  .g-tl-pull8 {
    margin-left: -65.612%;
  }

  .g-tl-pull9 {
    margin-left: -73.945%;
  }

  .g-tl-pull10 {
    margin-left: -82.278%;
  }

  .g-tl-pull11 {
    margin-left: -90.612%;
  }

  .g-tl-12 {
    clear: both;
  }

  .g-tl-f {
    clear: left;
  }

  .g-tl-l {
    clear: right;
  }

  .g-tl-b {
    clear: both;
  }
}
/*  Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .limiter {
    margin-left: auto;
    margin-right: auto;
    width: 97.917%;
  }

  .g-t-1, .g-t-2, .g-t-3, .g-t-4, .g-t-5, .g-t-6, .g-t-7, .g-t-8, .g-t-9, .g-t-10, .g-t-11, .g-t-12, .g-t-right1, .g-t-right2, .g-t-right3, .g-t-right4, .g-t-right5, .g-t-right6, .g-t-right7, .g-t-right8, .g-t-right9, .g-t-right10, .g-t-right11, .g-t-right12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    display: inline;
    float: left;
    margin-left: 1.33%;
    margin-right: 1.33%;
  }

  .g-all-row {
    margin-left: 1.33%;
    margin-right: 1.33%;
  }
  .g-all-row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .ie6 .g-all-row {
    height: 1%;
  }
  .ie7 .g-all-row {
    min-height: 1%;
  }

  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 {
    margin-left: 10px;
  }

  .g-d-12,
  .g-d-f,
  .g-d-l,
  .g-d-b {
    clear: none;
  }

  .g-t-1 {
    padding: 0 0px;
    width: 5.601%;
  }

  .g-t-2 {
    padding: 0 0px;
    width: 13.934%;
  }

  .g-t-3 {
    padding: 0 0px;
    width: 22.268%;
  }

  .g-t-4 {
    padding: 0 0px;
    width: 30.601%;
  }

  .g-t-5 {
    padding: 0 0px;
    width: 38.934%;
  }

  .g-t-6 {
    padding: 0 0px;
    width: 47.268%;
  }

  .g-t-7 {
    padding: 0 0px;
    width: 55.601%;
  }

  .g-t-8 {
    padding: 0 0px;
    width: 63.934%;
  }

  .g-t-9 {
    padding: 0 0px;
    width: 72.268%;
  }

  .g-t-10 {
    padding: 0 0px;
    width: 80.601%;
  }

  .g-t-11 {
    padding: 0 0px;
    width: 88.934%;
  }

  .g-t-12 {
    padding: 0 0px;
    width: 97.268%;
  }

  .g-t-right1 {
    padding: 0 0px;
    float: right;
    width: 5.601%;
  }

  .g-t-right2 {
    padding: 0 0px;
    float: right;
    width: 13.934%;
  }

  .g-t-right3 {
    padding: 0 0px;
    float: right;
    width: 22.268%;
  }

  .g-t-right4 {
    padding: 0 0px;
    float: right;
    width: 30.601%;
  }

  .g-t-right5 {
    padding: 0 0px;
    float: right;
    width: 38.934%;
  }

  .g-t-right6 {
    padding: 0 0px;
    float: right;
    width: 47.268%;
  }

  .g-t-right7 {
    padding: 0 0px;
    float: right;
    width: 55.601%;
  }

  .g-t-right8 {
    padding: 0 0px;
    float: right;
    width: 63.934%;
  }

  .g-t-right9 {
    padding: 0 0px;
    float: right;
    width: 72.268%;
  }

  .g-t-right10 {
    padding: 0 0px;
    float: right;
    width: 80.601%;
  }

  .g-t-right11 {
    padding: 0 0px;
    float: right;
    width: 88.934%;
  }

  .g-t-right12 {
    padding: 0 0px;
    float: right;
    width: 97.268%;
  }

  .g-t-o1 {
    margin-left: 8.333%;
    width: 100%;
  }

  .g-t-o2 {
    margin-left: 16.667%;
    width: 100%;
  }

  .g-t-o3 {
    margin-left: 25%;
    width: 100%;
  }

  .g-t-o4 {
    margin-left: 33.333%;
    width: 100%;
  }

  .g-t-o5 {
    margin-left: 41.667%;
    width: 100%;
  }

  .g-t-o6 {
    margin-left: 50%;
    width: 100%;
  }

  .g-t-o7 {
    margin-left: 58.333%;
    width: 100%;
  }

  .g-t-o8 {
    margin-left: 66.667%;
    width: 100%;
  }

  .g-t-o9 {
    margin-left: 75%;
    width: 100%;
  }

  .g-t-o10 {
    margin-left: 83.333%;
    width: 100%;
  }

  .g-t-o11 {
    margin-left: 91.667%;
    width: 100%;
  }

  .g-t-push1 {
    margin-left: 9.699%;
    margin-right: -6.967%;
  }

  .g-t-push2 {
    margin-left: 18.033%;
    margin-right: -15.301%;
  }

  .g-t-push3 {
    margin-left: 26.366%;
    margin-right: -23.634%;
  }

  .g-t-push4 {
    margin-left: 34.699%;
    margin-right: -31.967%;
  }

  .g-t-push5 {
    margin-left: 43.033%;
    margin-right: -40.301%;
  }

  .g-t-push6 {
    margin-left: 51.366%;
    margin-right: -48.634%;
  }

  .g-t-push7 {
    margin-left: 59.699%;
    margin-right: -56.967%;
  }

  .g-t-push8 {
    margin-left: 68.033%;
    margin-right: -65.301%;
  }

  .g-t-push9 {
    margin-left: 76.366%;
    margin-right: -73.634%;
  }

  .g-t-push10 {
    margin-left: 84.699%;
    margin-right: -81.967%;
  }

  .g-t-push11 {
    margin-left: 93.033%;
    margin-right: -90.301%;
  }

  .g-t-pull1 {
    margin-left: -6.967%;
  }

  .g-t-pull2 {
    margin-left: -15.301%;
  }

  .g-t-pull3 {
    margin-left: -23.634%;
  }

  .g-t-pull4 {
    margin-left: -31.967%;
  }

  .g-t-pull5 {
    margin-left: -40.301%;
  }

  .g-t-pull6 {
    margin-left: -48.634%;
  }

  .g-t-pull7 {
    margin-left: -56.967%;
  }

  .g-t-pull8 {
    margin-left: -65.301%;
  }

  .g-t-pull9 {
    margin-left: -73.634%;
  }

  .g-t-pull10 {
    margin-left: -81.967%;
  }

  .g-t-pull11 {
    margin-left: -90.301%;
  }

  .g-t-12 {
    clear: both;
  }

  .g-t-f {
    clear: left;
  }

  .g-t-l {
    clear: right;
  }

  .g-t-b {
    clear: both;
  }
}
/* Handheld Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
  }

  .limiter {
    margin-left: auto;
    margin-right: auto;
    width: 89.167%;
  }

  .g-hl-1, .g-hl-2, .g-hl-3, .g-hl-4, .g-hl-5, .g-hl-6, .g-hl-7, .g-hl-8, .g-hl-9, .g-hl-10, .g-hl-11, .g-hl-12, .g-hl-right1, .g-hl-right2, .g-hl-right3, .g-hl-right4, .g-hl-right5, .g-hl-right6, .g-hl-right7, .g-hl-right8, .g-hl-right9, .g-hl-right10, .g-hl-right11, .g-hl-right12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    display: inline;
    float: left;
    margin-left: 2.336%;
    margin-right: 2.336%;
  }

  .g-all-row {
    margin-left: 2.336%;
    margin-right: 2.336%;
  }
  .g-all-row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .ie6 .g-all-row {
    height: 1%;
  }
  .ie7 .g-all-row {
    min-height: 1%;
  }

  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 {
    margin-left: 10px;
  }

  .g-d-12,
  .g-d-f,
  .g-d-l,
  .g-d-b {
    clear: none;
  }

  .g-hl-1 {
    padding: 0 0px;
    width: 3.431%;
  }

  .g-hl-2 {
    padding: 0 0px;
    width: 11.765%;
  }

  .g-hl-3 {
    padding: 0 0px;
    width: 20.098%;
  }

  .g-hl-4 {
    padding: 0 0px;
    width: 28.431%;
  }

  .g-hl-5 {
    padding: 0 0px;
    width: 36.765%;
  }

  .g-hl-6 {
    padding: 0 0px;
    width: 45.098%;
  }

  .g-hl-7 {
    padding: 0 0px;
    width: 53.431%;
  }

  .g-hl-8 {
    padding: 0 0px;
    width: 61.765%;
  }

  .g-hl-9 {
    padding: 0 0px;
    width: 70.098%;
  }

  .g-hl-10 {
    padding: 0 0px;
    width: 78.431%;
  }

  .g-hl-11 {
    padding: 0 0px;
    width: 86.765%;
  }

  .g-hl-12 {
    padding: 0 0px;
    width: 95.098%;
  }

  .g-hl-right1 {
    padding: 0 0px;
    float: right;
    width: 3.431%;
  }

  .g-hl-right2 {
    padding: 0 0px;
    float: right;
    width: 11.765%;
  }

  .g-hl-right3 {
    padding: 0 0px;
    float: right;
    width: 20.098%;
  }

  .g-hl-right4 {
    padding: 0 0px;
    float: right;
    width: 28.431%;
  }

  .g-hl-right5 {
    padding: 0 0px;
    float: right;
    width: 36.765%;
  }

  .g-hl-right6 {
    padding: 0 0px;
    float: right;
    width: 45.098%;
  }

  .g-hl-right7 {
    padding: 0 0px;
    float: right;
    width: 53.431%;
  }

  .g-hl-right8 {
    padding: 0 0px;
    float: right;
    width: 61.765%;
  }

  .g-hl-right9 {
    padding: 0 0px;
    float: right;
    width: 70.098%;
  }

  .g-hl-right10 {
    padding: 0 0px;
    float: right;
    width: 78.431%;
  }

  .g-hl-right11 {
    padding: 0 0px;
    float: right;
    width: 86.765%;
  }

  .g-hl-right12 {
    padding: 0 0px;
    float: right;
    width: 95.098%;
  }

  .g-hl-o1 {
    margin-left: 8.333%;
    width: 100%;
  }

  .g-hl-o2 {
    margin-left: 16.667%;
    width: 100%;
  }

  .g-hl-o3 {
    margin-left: 25%;
    width: 100%;
  }

  .g-hl-o4 {
    margin-left: 33.333%;
    width: 100%;
  }

  .g-hl-o5 {
    margin-left: 41.667%;
    width: 100%;
  }

  .g-hl-o6 {
    margin-left: 50%;
    width: 100%;
  }

  .g-hl-o7 {
    margin-left: 58.333%;
    width: 100%;
  }

  .g-hl-o8 {
    margin-left: 66.667%;
    width: 100%;
  }

  .g-hl-o9 {
    margin-left: 75%;
    width: 100%;
  }

  .g-hl-o10 {
    margin-left: 83.333%;
    width: 100%;
  }

  .g-hl-o11 {
    margin-left: 91.667%;
    width: 100%;
  }

  .g-hl-push1 {
    margin-left: 10.784%;
    margin-right: -5.882%;
  }

  .g-hl-push2 {
    margin-left: 19.118%;
    margin-right: -14.216%;
  }

  .g-hl-push3 {
    margin-left: 27.451%;
    margin-right: -22.549%;
  }

  .g-hl-push4 {
    margin-left: 35.784%;
    margin-right: -30.882%;
  }

  .g-hl-push5 {
    margin-left: 44.118%;
    margin-right: -39.216%;
  }

  .g-hl-push6 {
    margin-left: 52.451%;
    margin-right: -47.549%;
  }

  .g-hl-push7 {
    margin-left: 60.784%;
    margin-right: -55.882%;
  }

  .g-hl-push8 {
    margin-left: 69.118%;
    margin-right: -64.216%;
  }

  .g-hl-push9 {
    margin-left: 77.451%;
    margin-right: -72.549%;
  }

  .g-hl-push10 {
    margin-left: 85.784%;
    margin-right: -80.882%;
  }

  .g-hl-push11 {
    margin-left: 94.118%;
    margin-right: -89.216%;
  }

  .g-hl-pull1 {
    margin-left: -5.882%;
  }

  .g-hl-pull2 {
    margin-left: -14.216%;
  }

  .g-hl-pull3 {
    margin-left: -22.549%;
  }

  .g-hl-pull4 {
    margin-left: -30.882%;
  }

  .g-hl-pull5 {
    margin-left: -39.216%;
  }

  .g-hl-pull6 {
    margin-left: -47.549%;
  }

  .g-hl-pull7 {
    margin-left: -55.882%;
  }

  .g-hl-pull8 {
    margin-left: -64.216%;
  }

  .g-hl-pull9 {
    margin-left: -72.549%;
  }

  .g-hl-pull10 {
    margin-left: -80.882%;
  }

  .g-hl-pull11 {
    margin-left: -89.216%;
  }

  .g-hl-12 {
    clear: both;
  }

  .g-hl-f {
    clear: left;
  }

  .g-hl-l {
    clear: right;
  }

  .g-hl-b {
    clear: both;
  }
}
/* Handheld Portrait */
@media only screen and (max-width: 479px) {
  .limiter {
    margin-left: auto;
    margin-right: auto;
    min-width: 308px;
    width: 77%;
  }

  .g-h-1, .g-h-2, .g-h-3, .g-h-4, .g-h-5, .g-h-6, .g-h-7, .g-h-8, .g-h-9, .g-h-10, .g-h-11, .g-h-12, .g-h-right1, .g-h-right2, .g-h-right3, .g-h-right4, .g-h-right5, .g-h-right6, .g-h-right7, .g-h-right8, .g-h-right9, .g-h-right10, .g-h-right11, .g-h-right12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    display: inline;
    float: left;
    margin-left: 3.247%;
    margin-right: 3.247%;
  }

  .g-all-row {
    margin-left: 3.247%;
    margin-right: 3.247%;
  }
  .g-all-row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .ie6 .g-all-row {
    height: 1%;
  }
  .ie7 .g-all-row {
    min-height: 1%;
  }

  .g-d-o1, .g-d-o2, .g-d-o3, .g-d-o4, .g-d-o5, .g-d-o6, .g-d-o7, .g-d-o8, .g-d-o9, .g-d-o10, .g-d-o11, .g-d-o12 {
    margin-left: 0;
  }

  .g-d-push1, .g-d-push2, .g-d-push3, .g-d-push4, .g-d-push5, .g-d-push6, .g-d-push7, .g-d-push8, .g-d-push9, .g-d-push10, .g-d-push11, .g-d-push12 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .g-d-pull1, .g-d-pull2, .g-d-pull3, .g-d-pull4, .g-d-pull5, .g-d-pull6, .g-d-pull7, .g-d-pull8, .g-d-pull9, .g-d-pull10, .g-d-pull11, .g-d-pull12 {
    margin-left: 10px;
  }

  .g-d-12,
  .g-d-f,
  .g-d-l,
  .g-d-b {
    clear: none;
  }

  .g-h-1 {
    padding: 0 0px;
    width: 1.389%;
  }

  .g-h-2 {
    padding: 0 0px;
    width: 9.722%;
  }

  .g-h-3 {
    padding: 0 0px;
    width: 18.056%;
  }

  .g-h-4 {
    padding: 0 0px;
    width: 26.389%;
  }

  .g-h-5 {
    padding: 0 0px;
    width: 34.722%;
  }

  .g-h-6 {
    padding: 0 0px;
    width: 43.056%;
  }

  .g-h-7 {
    padding: 0 0px;
    width: 51.389%;
  }

  .g-h-8 {
    padding: 0 0px;
    width: 59.722%;
  }

  .g-h-9 {
    padding: 0 0px;
    width: 68.056%;
  }

  .g-h-10 {
    padding: 0 0px;
    width: 76.389%;
  }

  .g-h-11 {
    padding: 0 0px;
    width: 84.722%;
  }

  .g-h-12 {
    padding: 0 0px;
    width: 93.056%;
  }

  .g-h-right1 {
    padding: 0 0px;
    float: right;
    width: 1.389%;
  }

  .g-h-right2 {
    padding: 0 0px;
    float: right;
    width: 9.722%;
  }

  .g-h-right3 {
    padding: 0 0px;
    float: right;
    width: 18.056%;
  }

  .g-h-right4 {
    padding: 0 0px;
    float: right;
    width: 26.389%;
  }

  .g-h-right5 {
    padding: 0 0px;
    float: right;
    width: 34.722%;
  }

  .g-h-right6 {
    padding: 0 0px;
    float: right;
    width: 43.056%;
  }

  .g-h-right7 {
    padding: 0 0px;
    float: right;
    width: 51.389%;
  }

  .g-h-right8 {
    padding: 0 0px;
    float: right;
    width: 59.722%;
  }

  .g-h-right9 {
    padding: 0 0px;
    float: right;
    width: 68.056%;
  }

  .g-h-right10 {
    padding: 0 0px;
    float: right;
    width: 76.389%;
  }

  .g-h-right11 {
    padding: 0 0px;
    float: right;
    width: 84.722%;
  }

  .g-h-right12 {
    padding: 0 0px;
    float: right;
    width: 93.056%;
  }

  .g-h-o1 {
    margin-left: 8.333%;
    width: 100%;
  }

  .g-h-o2 {
    margin-left: 16.667%;
    width: 100%;
  }

  .g-h-o3 {
    margin-left: 25%;
    width: 100%;
  }

  .g-h-o4 {
    margin-left: 33.333%;
    width: 100%;
  }

  .g-h-o5 {
    margin-left: 41.667%;
    width: 100%;
  }

  .g-h-o6 {
    margin-left: 50%;
    width: 100%;
  }

  .g-h-o7 {
    margin-left: 58.333%;
    width: 100%;
  }

  .g-h-o8 {
    margin-left: 66.667%;
    width: 100%;
  }

  .g-h-o9 {
    margin-left: 75%;
    width: 100%;
  }

  .g-h-o10 {
    margin-left: 83.333%;
    width: 100%;
  }

  .g-h-o11 {
    margin-left: 91.667%;
    width: 100%;
  }

  .g-h-push1 {
    margin-left: 11.806%;
    margin-right: -4.861%;
  }

  .g-h-push2 {
    margin-left: 20.139%;
    margin-right: -13.194%;
  }

  .g-h-push3 {
    margin-left: 28.472%;
    margin-right: -21.528%;
  }

  .g-h-push4 {
    margin-left: 36.806%;
    margin-right: -29.861%;
  }

  .g-h-push5 {
    margin-left: 45.139%;
    margin-right: -38.194%;
  }

  .g-h-push6 {
    margin-left: 53.472%;
    margin-right: -46.528%;
  }

  .g-h-push7 {
    margin-left: 61.806%;
    margin-right: -54.861%;
  }

  .g-h-push8 {
    margin-left: 70.139%;
    margin-right: -63.194%;
  }

  .g-h-push9 {
    margin-left: 78.472%;
    margin-right: -71.528%;
  }

  .g-h-push10 {
    margin-left: 86.806%;
    margin-right: -79.861%;
  }

  .g-h-push11 {
    margin-left: 95.139%;
    margin-right: -88.194%;
  }

  .g-h-pull1 {
    margin-left: -4.861%;
  }

  .g-h-pull2 {
    margin-left: -13.194%;
  }

  .g-h-pull3 {
    margin-left: -21.528%;
  }

  .g-h-pull4 {
    margin-left: -29.861%;
  }

  .g-h-pull5 {
    margin-left: -38.194%;
  }

  .g-h-pull6 {
    margin-left: -46.528%;
  }

  .g-h-pull7 {
    margin-left: -54.861%;
  }

  .g-h-pull8 {
    margin-left: -63.194%;
  }

  .g-h-pull9 {
    margin-left: -71.528%;
  }

  .g-h-pull10 {
    margin-left: -79.861%;
  }

  .g-h-pull11 {
    margin-left: -88.194%;
  }

  .g-h-12 {
    clear: both;
  }

  .g-h-f {
    clear: left;
  }

  .g-h-l {
    clear: right;
  }

  .g-h-b {
    clear: both;
  }
}
