/*
 * Pages
 */

.user-inner,
.main-menu-inner,
.preface-inner,
.feature-inner,
.content-inner,
.postscript-inner,
.sidebar-inner,
.footer-inner {
  @include margin-trailer(1, $base-font-size);
}

/* Header */

#header {
  background-color: white;
}

body {
  background: image-url('bgnoise.gif') 0 0 repeat;
}

.branding {

  .name-and-slogan {
    @include inline-block;
    @include padding-leader(0.7, $font-size-normal);
    @include padding-trailer(0.7, $font-size-normal);
    @include text-shadow(rgba(200, 200, 200, 0.3)0 1px 0);
  }

  .logo {
    @include inline-block;
    padding: 0 $typographic-indent 0 0;
    img {
      @include margin-leader(0.6, $font-size-normal);
      @include margin-trailer(0.4, $font-size-normal);
    }
  }

  .site-name {
    @include adjust-font-size-to($font-size-xxl,1);
    @include margin-leader(0, $font-size-xxl);
    @include margin-trailer(0.4, $font-size-xxl);
    font-family: $header-font-family;
    a {
      @include link-colors($text-color, $hover: $text-color, $focus: $text-color, $visited: $text-color, $active: $text-color);
      text-decoration: none;
    }
  }

  .site-slogan {
    @include adjust-font-size-to($font-size-lg,0.6);
  }

}

#main {
  @include margin-trailer(1);
}

#content .content-inner,
.sidebar .sidebar-inner {
  @include border-radius(5px);
  background-color: white;
  border: 1px solid $text-border;
}

#footer {
  .block {
    @include margin-trailer(0);
  }
  .footer-wrapper {
    @include padding-leader(1);
  }
  .footer-row, .footer-columns-row {
    @include border-radius(4px);
    background: image-url('transparentbar-darker.png') 0 0 repeat;
  }
}


// Admin

div.admin-panel,
div.admin-panel .body {
    padding-bottom: 0;
    padding-top: 0;
}
