/*
 * Patterns
 */

// Error Styles
// Base alert styles
div.messages {
  @include background-image(linear-gradient(#5bc0de, #339bb9));
  @include border-radius(4px);
  @include margin-trailer(1, $font-size-normal);
  @include rhythm-borders(1px, 0.5, $font-size-normal, solid);
  @include text-shadow(rgba(255,255,255,.5) 0 1px 0);
  background-position: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  position: relative;
  &.status {
    @include background-image(linear-gradient(#deecc9, #cfe4ad));
  }
  &.warning {
    @include background-image(linear-gradient(#fceec1, #eedc94));
  }
  &.error {
    @include background-image(linear-gradient(#ee5f5b, #c43c35));
    @include text-shadow(rgba(0, 0, 0, 0.25) 0 -1px 0);
    color: white;
  }
}

.p-float-left {
  @include float-left;
}

.p-float-right {
  @include float-right;
}

.p-text-center {
  text-align: center;
}

@include respond-to(desktop) {
  .p-#{$aether-desktop}-float-left {
    @include float-left;
  }
  .p-#{$aether-desktop}-float-right {
    @include float-right;
  }
  .p-#{$aether-desktop}-text-center {
    text-align: center;
    @include reset-float();
  }
}

@include respond-to(tablet) {
  .p-#{$aether-tablet}-float-left {
    @include float-left;
  }
  .p-#{$aether-tablet}-float-right {
    @include float-right;
  }
  .p-#{$aether-tablet}-text-center {
    text-align: center;
    @include reset-float();
  }
}

@include respond-below(tablet) {
  .p-below-#{$aether-tablet}-float-left {
    @include float-left;
  }
  .p-below-#{$aether-tablet}-float-right {
    @include float-right;
  }
  .p-below-#{$aether-tablet}-text-center {
    text-align: center;
    @include reset-float();
  }
}

@include respond-to(tablet-landscape) {
  .p-#{$aether-tablet-landscape}-float-left {
    @include float-left;
  }
  .p-#{$aether-tablet-landscape}-float-right {
    @include float-right;
  }
  .p-#{$aether-tablet-landscape}-text-center {
    text-align: center;
    @include reset-float();
  }
}

@include respond-to(handheld-landscape) {
  .p-#{$aether-handheld-landscape}-float-left {
    @include float-left;
  }
  .p-#{$aether-handheld-landscape}-float-right {
    @include float-right;
  }
  .p-#{$aether-handheld-landscape}-text-center {
    text-align: center;
    @include reset-float();
  }
}

@include respond-to(handheld) {
  .p-#{$aether-handheld}-float-left {
    @include float-left;
  }
  .p-#{$aether-handheld}-float-right {
    @include float-right;
  }
  .p-#{$aether-handheld}-text-center {
    text-align: center;
    @include reset-float();
  }
}
