@import '../base';

/* Tablet Landscape */
@include respond-to(tablet-landscape) {
  body{}
  .#{$aether-limiter-class} {
  width: $aether-max-tablet-landscape-width;
  }

  .#{$aether-gridprefix}-all-row {
    width: grid-width($aether-tablet-landscape);
    @if $aether-show-grid-background {
      $aether-tablet-landscape-col-width: col-width($aether-tablet-landscape);
      @include grid-background($aether-tablet-columns, $aether-tablet-landscape-col-width, $aether-gutter-width, $aether-base-line-height, $aether-gutter-width*.5);
    }
  }

  // Zero out desktop push/pull/offset to avoid specificity problems 
  // in the media class stack when moving things like sidebars around.
  // This must come before column classes.
  @include zero-d-classes();

  @include grid($aether-tablet-landscape);

  .#{$aether-gridprefix}-#{$aether-tablet-landscape}-#{$aether-tablet-columns} {
    clear: both;
  }

}

