@import '../base';

/* Handheld Landscape */
@include respond-to(handheld-landscape) {
  // Disables iphone font size increase when viewing in landscape mode.
  html {
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust: none;
  }

  @include limiter($aether-limiter-class, $aether-handheld-landscape-grid-width, $aether-break-small);

  $aether_allColumns: #{enumerate(".#{$aether-gridprefix}-#{$aether-handheld-landscape}", 1, $aether-handheld-columns)}, #{enumerate(".#{$aether-gridprefix}-#{$aether-handheld-landscape}-right", 1, $aether-handheld-columns, "")};

  #{$aether_allColumns} {
    @include grid-item-base($aether-float-direction, gutter(), $aether-box-sizing);
  }

  .#{$aether-gridprefix}-all-row {
    @include container(full,$aether-handheld-landscape-grid-width);
    @include aether-grid-background($aether-handheld-columns, $aether-handheld-landscape-grid-width);
  }
  
  // Zero out desktop push/pull/offset to avoid specificity problems 
  // in the media class stack when moving things like sidebars around.
  // This must come before column classes.
  @include zero-classes($aether-desktop,$aether-desktop-columns);

  // Generate column classes for handheld landscape media
  @include grid-classes($aether-handheld-landscape,$aether-handheld-columns,$aether-handheld-landscape-grid-width);

  .#{$aether-gridprefix}-#{$aether-handheld-landscape}-#{$aether-handheld-columns} {
    clear: both;
  }

}
