@import '../base';

/*  Handheld Portrait */
@include respond-to(handheld) {
  body {}
  .#{$aether-limiter-class} {
  width: $aether-max-handheld-width;
  }

  .#{$aether-gridprefix}-all-row {
    width: grid-width($aether-handheld);
    @if $aether-show-grid-background {
      $aether-handheld-col-width: col-width($aether-handheld);
      @include grid-background($aether-handheld-columns, $aether-handheld-col-width, $aether-gutter-width, $aether-base-line-height, $aether-gutter-width*.5);
    }
  }

  // Zero out desktop push/pull/offset to avoid specificity problems 
  // in the media class stack when moving things like sidebars around.
  // This must come before column classes.
  @include zero-d-classes();

  // Generate column classes for handheld media
  @include grid($aether-handheld);

  .#{$aether-gridprefix}-#{$aether-handheld}-#{$aether-handheld-columns} {
    clear: both;
  }

}
