@import '../base';

/* Handheld Landscape */
@include respond-to(handheld-landscape) {
  body {}
  .#{$aether-limiter-class} {
  width: $aether-max-handheld-landscape-width;
  }

  // Disables iphone font size increase when viewing in landscape mode.
  html {
    -ms-text-size-adjust:none;
    -webkit-text-size-adjust: none;
  }

  .#{$aether-gridprefix}-all-row {
    width: grid-width($aether-handheld-landscape);
    @if $aether-show-grid-background {
      $aether-handheld-landscape-col-width: col-width($aether-handheld-landscape);
      @include grid-background($aether-handheld-columns, $aether-handheld-landscape-col-width, $aether-gutter-width, $aether-base-line-height, $aether-gutter-width*.5);
    }
  }
  
  // Zero out desktop push/pull/offset to avoid specificity problems 
  // in the media class stack when moving things like sidebars around.
  // This must come before column classes.
  @include zero-d-classes();

  // Generate column classes for handheld landscape media
  @include grid($aether-handheld-landscape);

  .#{$aether-gridprefix}-#{$aether-handheld-landscape}-#{$aether-handheld-columns} {
    clear: both;
  }

}
