@import '../base';

$aether-float-direction: right;

/* Handheld Portrait */
@include respond-to(handheld) {

  @include zero-classes($aether-desktop,$aether-desktop-columns);

  $aether_allColumns: #{enumerate(".#{$aether-gridprefix}-#{$aether-handheld}", 1, $aether-handheld-columns)}, #{enumerate(".#{$aether-gridprefix}-#{$aether-handheld}-right", 1, $aether-handheld-columns, "")};

  #{$aether_allColumns} {
	float: $aether-float-direction;
  }

  // Generate column classes for handheld landscape media
  @include grid-classes($aether-handheld,$aether-handheld-columns,$aether-handheld-grid-width,rtl);

}
